/* Mobile first */

.nav-links {
    display: none !important;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    text-decoration: none !important;
}
:root {
    --orange:#FF8A56;
}
body{
    font-family: 'Roboto', sans-serif;
}

.intro-left-side h1{
    font-size: 39px;
}

.intro-left-side h1 span {
color: var(--orange);
}

/* introduction */
.book-a-call {
    background-color: #222;
}

/* services section */
.card-img-top {
    width:70px;
    height: 70px;
}
.services ul {
    list-style-type: square;
    padding: 0;
    padding-left: 19px;
}

.services h6{
    color: #FF8A56;
}


/* projects start */
.view-all-projects {
    background-color: #222;
}

.projects h5 {
    color: #B16CEA;
}
.project-card {
    width: 486px;
    margin-top: 20px;
    
}
.project-card > img {
    width: 80%;
    /* height: 468px !important; */
}

@media(min-width:768px) {
    .nav-links {
        display: flex !important;
    }
     
    .fa-bars {
        display: none;
    }
    .intro-left-side h1 {
        font-size: 39px;
    }
    .intro-left-side{
        padding-top: 52px;
    }
}



@media(min-width:992px) {
    .intro-left-side h1 {
        font-size: 70px;
    }
    
    .intro-left-side{
        padding-top: 92px;
    }
}